.timetable .time-entry.technician {
    background-color: #ec6a5eb6;
    border: 1px solid #e32c1bb6
}

.timetable .time-entry.technician:hover {
    background-color: #e74030b6
}

.timetable .time-entry.lecture {
    background-color: #7584beb6;
    border: 1px solid #6a77ad
}

.timetable .time-entry.lecture:hover {
    background-color: #7584be
}s